yt-dlp>=2023.11.16
pytube>=15.0.0
youtube_dl>=2021.12.17
youtubesearchpython>=1.6.5
requests>=2.31.0
PyYAML>=6.0


torch>=2.0.0
torchvision>=0.15.0
diffusers>=0.20.0
transformers>=4.30.0
accelerate>=0.20.0
flask>=2.0.0
numpy>=1.24.0
pillow>=9.0.0
opencv-python>=4.7.0
